<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="XboundServerURI0" value="tcp://192.168.1.143:4444" />
    <add key="XboundServerURI1" value="" />
    <add key="XboundServerURI2" value="" />
    <add key="XboundServerURI3" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="OSHAClientName" value="PICS" />
    <add key="OSHAProcessName" value="Annual" />
    <add key="OSHAFormTypeName" value="OSHA300A" />   <!-- General Liability -->
    <add key="PO_Prefix_Filename" value="data_" />  
    <add key="Allow_ext" value=".xls,.pdf" />  
    <add key="OSHAProcessStepName" value="Universal Scan" />
    <add key="LegacyImagesFolderPath" value="\\192.168.1.133\files" />
    <add key="LegacyImagesFolderPathB" value="\\192.168.1.145\files" />
    <add key="ImgLegacyUserName" value="imip" />
    <add key="ImgLegacyPassword" value="imip@2014" />
    <!-- 
    <add key="LegacyImagesServer" value="\\192.168.1.133"/>
    <add key="LegacyImagesServerUsername" value="imip"/>
    <add key="LegacyImagesServerPassword" value="imip@2014"/>
    -->
    <add key="igr_db" value="Server=192.168.1.78;Database=igr_dev;Uid=pics;Pwd=Cot9WaCo;Port=3306;" />
    <add key="legacy_db" value="Server=192.168.1.133;Database=pics_prune;Uid=pics;Pwd=Cot9WaCo;Port=3306;default command timeout=60000;" />
    <add key="ScanInterval" value="5" />  <!--- minutes -->
    <add key="xBoundDomainName" value="WS-XB371" />
    <add key="xBoundUserName" value="administrator" />
    <add key="xBoundPassword" value="imip@1234" />
    <add key="CersUpdatedToProcess_StartDate" value="2014-09-22 17:06:45" />
    <add key="MaxTimeToProcessDoc" value="1" /> <!--hours-->
    <add key="WebServerURL" value="http://183.91.3.155:9112/" /> 
    <add key="TempObjectQuestions" value="{'NumberOfEmployees':'2447','NumOfHWorked':'8810','NumOfFatalities':'8812','NumOfCasesDayFWork':'8813','NumOfDayFWork':'8814','NumOfCasesTranferRestriction':'8815','NumOfDayTranferRestriction':' 8816','NumOfOtherRecordCases':'8817','NAICSCode':'22212'}" />
    <add key="TimeoutOptB" value="60000" /> <!--ms-->
    <add key="extSepcial" value=".jpg,.tiff,.tif,.jpeg" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.5"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Methods" value="*" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>